/*CSS Document */

*{
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body{
    overflow: scroll;
    width: 100%;
}

#outerdiv{
    max-width: 1020px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: darkseagreen;
    border: black solid;
    text-align: center;
}

header{
    width: auto;
    vertical-align: top;
    height: 200px;
    padding: 50px;
    border: 1px;
    border: black solid;
    margin: 5px;
    background-color: #FA255E;
    background-image: url(https://www.f-covers.com/cover/strawberries-2-facebook-cover-timeline-banner-for-fb.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
  
    background-color:#C39EA0;
    border: black ridge;
    width: auto;
    margin: 5px;
    padding-bottom: 15px;
}

ul{
    list-style-type: none; 
}

li{
    margin: 20px;
    border: black 1px ;
    float: left;
}

main{
    width: auto;
    background-color: #5e6363;
    border: black solid;
    margin: 5px;
}

#aside1{
    min-height: 98.5%;
    background-color: #C39EA0;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 32%;
    float: left;
    min-width: 250px;
}

section{
    height: 99%;
    background-color:#C39EA0;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 65.5%;
    float: left;
    min-width: 410px;
}

#div1{
    background-color:#f8e5e5;
    border: black solid;
    margin: 5px; 
    padding: 5px;
    width: 99%;
    min-height: 18%;
    float: left;
}

#aside2{
    background-color:#f8e5e5;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 48.375%;
    min-height: 350px;
    float: left;
    background-image: url(https://www.adafruit.com/includes/templates/adafruit2013/images/pi_logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}


#article1{
    background-color: #f8e5e5;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 48.375%;
    height: 75%;
    float: left;
}

#article2{
    background-color: #f8e5e5;
    border: black solid;
    margin: 5px; 
    padding: 5px;
    width: 48.375%;
    min-height: 48%;
    float: left;
}

.darkback{
    color: blanchedalmond;
}

footer{
    height: 150px;
    width: auto;
    vertical-align: bottom;
    background-color: #FA255E;
    border: black solid;
    margin: 5px;
}

#footernav{
    margin: 5px;
    height: 33%;
    vertical-align: top;
    float: left;
}

#footerparagraph{
    margin: 5px auto;
    height: 20%;
    vertical-align: bottom;
    float: right;
}

