/*CSS Document */

*{
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body{
    overflow: scroll;
}

#outerdiv{
    max-width: 1020px;
    height: 100%;
    width: 100%;
    background-color: darkseagreen;
    border: black solid;
    

}





header{
    width: auto;
    vertical-align: top;
    height: 200px;
    padding: 50px;
    border: 1px;
    border: black solid;
    margin: 5px;
    background-color: #FA255E;
    
    background-image: url(https://www.f-covers.com/cover/strawberries-2-facebook-cover-timeline-banner-for-fb.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
  
    background-color:#C39EA0;
    border: black ridge;
    
    width: auto;
    margin: 5px;
    padding-bottom: 15px;

    
   
}

ul{
    
    list-style-type: none;
    
}

li{
    margin: 20px;
    border: black 1px ;
    float: left;
    
}

main{
    
    width: auto;
    background-color: #5e6363;
    border: black solid;
    margin: 5px;
    
    
}

#aside1{
    
    min-height: 98.5%;
    background-color: #C39EA0;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 32%;
    float: left;
}

section{
    
    height: 99%;
    background-color:#C39EA0;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 65.5%;
    float: left;
}

#div1{
    
    background-color:#f8e5e5;
    border: black solid;
    margin: 5px; 
    padding: 5px;
    width: 99%;
    min-height: 18%;
    float: left;
}

#aside2{
    
    background-color:#f8e5e5;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 47.5%;
    height: 26%;
    float: right;
}

#article1{
    
    background-color: #f8e5e5;
    border: black solid;
    margin: 5px;
    padding: 5px;
    width: 47.5%;
    height: 75%;
    float: left;
}

#article2{
    
    background-color: #f8e5e5;
    border: black solid;
    margin: 5px; 
    padding: 5px;
    width: 47.5%;
    min-height: 48%;
    float: right;
}

.darkback{
    color: blanchedalmond;
}

footer{
    height: 150px;
    width: auto;
    vertical-align: bottom;
    
    align-content: center;
    
    background-color: #FA255E;
    border: black solid;
    margin: 5px;
    overflow-wrap: normal;
    display:flex;
    flex-direction: column;
    
    
}

#footerheader{
    margin: 10px;
    height: 50%;
    vertical-align: top;
    float: left;
}

#footerparagraph{
    margin: 10px;
    height: 50%;
    vertical-align: bottom;
    float: left;
}